body {
    margin: 0;
    padding: 0;
    
}

.container{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    
}

.box {
    margin: auto;
    padding: 8px;
    border: solid black 2px;
    border-radius: 30px;
    display: inline-block;
    text-align: center;
    background-color: #fff;
    font-size: 2rem;
    
}

option {
    font-size: 1.5rem;
}

#white{ 
    background-color: white;

}
#yellow{ 
    background-color: yellow;

}
#blue{ 
    background-color: blue;

}
#red{ 
    background-color: red;

}
#green{ 
    background-color: green;

}
#black{ 
    background-color: black;

}
#brown{ 
    background-color: brown;

}
#purple{ 
    background-color: purple;

}

#orange{ 
    background-color: orange;

}